<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li
      <li><a href="{{ '/credits' | prepend: site.baseurl }}">Credits</a></li>
      <li><a href="{{ '/literature-abolition' | prepend: site.baseurl }}">Literature and Abolition</a></li>
      <li><a href="{{ '/slave-trade' | prepend: site.basurl }}">The Slave Trade</a></li>

<!--      <li><a href="{{ site.baseurl }}/">Posts</a></li> -->
    </ul>
  </div>
</nav>
